.nav-name{
	font-weight: bold;
	font-size:14px;
}
.nav-login{
    float: right;
    margin-top: -32px;
    font-size: 13px;
    margin-right: 60px;    
}
.nav-logout{
    float: right;
    margin-top: -32px;
    font-size: 12px;
    margin-right: 22px;
    &:hover{
        cursor: pointer;
    }
}
.ant-menu-horizontal > .ant-menu-item > a{
    color: #494d55;
    font-size: 15px;
    font-weight: 400;
}